---
layout: layouts/home.njk
---

<h2 class="reading-width">East Bay Biosecurity brings together early-career professionals, graduate students, and other curious researchers to explore biosecurity and pandemic preparedness.</h2>

<p>After a hiatus, we’re in the process of restarting our meetups remotely. We will meet for around an hour a month to discuss current issues in biosecurity and to give and receive feedback on each other's projects.</p>

<p>If you’re interested in attending, please <a href="https://forms.gle/XmoEDqz1NHmwZ9AC7">fill out this form</a>. You can contact us at <a href="mailto:eastbaybiosec@gmail.com">eastbaybiosec@gmail.com</a> with any questions.</p>