---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>East Bay Biosecurity brings together early-career professionals, graduate students, and other curious researchers to explore biosecurity and pandemic preparedness.</h2>

<p>After a hiatus, we’re in the process of restarting East Bay Biosecurity meetups remotely. Members will meet for around an hour a month to discuss current issues in biosecurity and to give and receive feedback on their projects.</p>

<p>If you’re interested in attending, please fill out this form. You can contact us at eastbaybiosec@gmail.com with any questions.</p>