---
layout: layouts/home.njk
---

<h2 class="reading-width">East Bay Biosecurity brings together early-career professionals, graduate students, and other curious researchers to explore biosecurity and pandemic preparedness.</h2>

<p>After a hiatus, we’ve restarted our meetups remotely. We host one or two meetings a month, during the Pacific time evenings, to discuss current issues in biosecurity and to give and receive feedback on each other's projects.</p>

<p>You can contact us at <a href="mailto:eastbaybiosec@gmail.com">eastbaybiosec@gmail.com</a> with any questions, including if you're interested in joining the group.</p>